
<div class="login-ctn">
    <mat-card class="trajet-card">
    <mat-card-header class="trajet-card-header">
        <h2>S'authentifier</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="trajet-form">
            <mat-form-field appearance="outline">
                <mat-label>nom d'utilisateur</mat-label>
                <input [(ngModel)]="userName" type="text"  name="userName" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>mot de passe</mat-label>
                <input [(ngModel)]="pass" type="password" name="pass" matInput>
            </mat-form-field>
            <button (click)="onClickValider()" mat-raised-button color="accent">Valider</button>
        </form>
    </mat-card-content>
</mat-card>
</div>